In [95]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
%matplotlib inline

In [96]:
df = pd.read_csv('../../datasets/parte1/weatherAUS.csv')

#### Split Data

In [97]:
df['Date'] = pd.to_datetime(df['Date'], format="%Y-%m-%d", utc=True)
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day
df.drop(['Date'], inplace=True, axis=1)

df.head()

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Year,Month,Day
0,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,WNW,...,1007.1,8.0,NaN,16.9,21.8,No,No,2008,12,1
1,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,WSW,...,1007.8,NaN,NaN,17.2,24.3,No,No,2008,12,2
2,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,WSW,...,1008.7,NaN,2.0,21.0,23.2,No,No,2008,12,3
3,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,E,...,1012.8,NaN,NaN,18.1,26.5,No,No,2008,12,4
4,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,NW,...,1006.0,7.0,8.0,17.8,29.7,No,No,2008,12,5

# Missing Values

### Pre-preparation 1

In [98]:
df1 = df.copy()

In [99]:
df1.drop(['Evaporation'], axis=1, inplace=True)
df1.drop(['Sunshine'], axis=1, inplace=True)
df1.drop(['Cloud9am'], axis=1, inplace=True)
df1.drop(['Cloud3pm'], axis=1, inplace=True)

In [100]:
mintemp_mean=df1['MinTemp'].mean() 
df1['MinTemp'].fillna(mintemp_mean, inplace=True)

maxtemp_mean=df1['MaxTemp'].mean() 
df1['MaxTemp'].fillna(maxtemp_mean, inplace=True)

rainfall_mean=df1['Rainfall'].mean() 
df1['Rainfall'].fillna(rainfall_mean, inplace=True)

windgustspeed_mean=df1['WindGustSpeed'].mean() 
df1['WindGustSpeed'].fillna(windgustspeed_mean, inplace=True)

windspeed9am_mean=df1['WindSpeed9am'].mean() 
df1['WindSpeed9am'].fillna(windspeed9am_mean, inplace=True)

windspeed3pm_mean=df1['WindSpeed3pm'].mean() 
df1['WindSpeed3pm'].fillna(windspeed3pm_mean, inplace=True)

humidity9am_mean=df1['Humidity9am'].mean() 
df1['Humidity9am'].fillna(humidity9am_mean, inplace=True)

humidity3pm_mean=df1['Humidity3pm'].mean() 
df1['Humidity3pm'].fillna(humidity3pm_mean, inplace=True)

pressure9am_mean=df1['Pressure9am'].mean() 
df1['Pressure9am'].fillna(pressure9am_mean, inplace=True)

pressure3pm_mean=df1['Pressure3pm'].mean() 
df1['Pressure3pm'].fillna(pressure3pm_mean, inplace=True)

temp9am_mean=df1['Temp9am'].mean() 
df1['Temp9am'].fillna(temp9am_mean, inplace=True)

temp3pm_mean=df1['Temp3pm'].mean() 
df1['Temp3pm'].fillna(temp3pm_mean, inplace=True)

In [101]:
df1.dropna(inplace=True)

print(df1.isna().sum())

df1.shape

Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Temp9am          0
Temp3pm          0
RainToday        0
RainTomorrow     0
Year             0
Month            0
Day              0
dtype: int64

(123710, 21)

In [102]:
label_encoder = LabelEncoder()
df1['EncodedLocation'] = label_encoder.fit_transform(df1['Location'])
df1.drop('Location', axis = 1, inplace=True)

df1['EncodedWindGustDir'] = label_encoder.fit_transform(df1['WindGustDir'])
df1.drop('WindGustDir', axis = 1, inplace=True)

df1['EncodedWindDir9am'] = label_encoder.fit_transform(df1['WindDir9am'])
df1.drop('WindDir9am', axis = 1, inplace=True)

df1['EncodedWindDir3pm'] = label_encoder.fit_transform(df1['WindDir3pm'])
df1.drop('WindDir3pm', axis = 1, inplace=True)

df1['EncodedRainToday'] = label_encoder.fit_transform(df1['RainToday'])
df1.drop('RainToday', axis = 1, inplace=True)

df1['EncodedRainTomorrow'] = label_encoder.fit_transform(df1['RainTomorrow'])
df1.drop('RainTomorrow', axis = 1, inplace=True)

In [103]:
df1.to_csv('../../datasets/parte1/dataset_cleaned1.csv', index=False)